@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #ffffff;
}
body{
    background-color: #000000;
}
.head_area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-bottom: 2px solid #5e5e5e;
}
.head_area h1{
    color: #ffffff;
}
.nav_area{
    display: flex;
}
.nav_area .tab{
    display: flex;
    width: 50%;
    padding: 2% 5%;
    align-items: center;
    justify-content: center;
    border-left: #5e5e5e 2px solid;
    border-right: #5e5e5e 2px solid;
}
.inactive{
    filter: grayscale(85%) opacity(45%);
    border-bottom: #5e5e5e 2px solid;
}
.inactive:hover{
    filter: grayscale(65%) opacity(25%);
}
.nav_area .tab img{
    height: 10vh;
    margin-right: 10%;
}
.nav_area .tab h2{
    font-size: 2rem;
}
.content_area{
    /* background: url(../assets/dark-background-abstract-background-network-3d-background-7680x4320-8324.png); */
    padding: 2% 5%;
    border-bottom: 2px solid #5e5e5e;
    border-left: 2px solid #5e5e5e;
    border-right: 2px solid #5e5e5e;
    overflow: hidden;
}
.content_area .tabcontent{
    width: 100%;
}
#accordion .accordion_item{
    background-color: #2b2b2b;
    border-radius: 10px;
    margin-bottom: 1%;
}
#accordion .accordion_item .accordion_head{
    padding: 1% 5%;
}
#accordion .accordion_item .accordion_head h2{
    display: inline;
    font-size: 2rem;
    margin-right: 50px;
}
#accordion .accordion_item .accordion_head span{
    font-size: 1.5rem;
}
#accordion .accordion_item .accordion_head i{
    font-size: 2rem;
    float: right;
}
#accordion .accordion_item .accordion_content{
    border-top: #5e5e5e 2px solid;
    padding: 1% 3%;
}
#accordion .accordion_item .accordion_content .notes{
    display: inline-block;
    width: 22%;
    margin: 1%;
    text-align: center;
}
#accordion .accordion_item .accordion_content .notes img{
    width: 30px;
    margin-right: 3%;
}
#accordion .accordion_item .accordion_content .notes h3{
    display: inline;
    font-size: 1.2rem;
}
#accordion .accordion_item .accordion_content .notes h3 a{
    text-decoration: none;
}
#accordion .accordion_item .accordion_content .notes h3 a:hover{
    color: #fb9450;
}
#accordion .accordion_item .accordion_content .notes textarea{
    background: url(../assets/dark-background-abstract-background-network-3d-background-7680x4320-8324.png);
    padding: 2% 4%;
    color: #fb9450;
    resize: none;
    font-family: 'Square Peg', cursive;
    font-size: 1.8rem;
    font-weight: 800;
    border-radius: 10px;
}